/* Custom slideshow */

.entry-content .slideshow-container {
    height: 280px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.entry-content .slideshow-container .slideshow-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.entry-content .slideshow-dots {
    text-align: center;
}

.entry-content .slideshow-dots .dot {
  height: 10px;
  width: 10px;
  margin-right: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.entry-content .slideshow-dots .active {
  background-color: #343a40;  
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/* -------------------- */